/.cache/
/.pytest_cache/

/build/
/dist/
/*.egg-info/

*.py[cdo]

.DS_Store
.idea/

_temp/
/examples/geo/
/geo-codes/
/test*
Fiona-1.8.17-cp36-cp36m-win_amd64.whl
GDAL-3.1.3-cp36-cp36m-win_amd64.whl
geopandas-0.8.1-py3-none-any.whl
Shapely-1.7.1-cp36-cp36m-win_amd64.whl
examples/evaluation/nara/2011_000003.jpg_gt.jpg
