[Desktop Entry]
Name=Labelme
Comment=Image Polygonal Annotation with Python
Exec=mindAT
Icon=mindAT
Terminal=false
Type=Application
Categories=Graphics;RasterGraphics;
