# pip install -r requirements.txt

# base ----------------------------------------
setuptools
wheel
imgviz>=0.11.0
matplotlib
numpy
Pillow>=2.8.0
PyQt5
qtpy
PyYAML
termcolor
tifffile
lxml
imagecodecs
colordict
affine

# # Geo ----------------------------------------
geopandas
pygeos

# # coco ----------------------------------------
pycocotools>=2.0

# export --------------------------------------
# coremltools==4.0b2
# onnx>=1.7.0

# extras --------------------------------------
# thop
