# pip install -r requirements.txt

# base ----------------------------------------
imgviz>=0.11.0
opencv-python
matplotlib
numpy==1.19.3
Pillow>=2.8.0
affine
PyQt5
qtpy
pyside2
pyyaml
termcolor
tifffile
lxml
imagecodecs
colordict
colorama

# coco ----------------------------------------
pycocotools>=2.0

# deeplab -------------------------------------
tensorflow-gpu==1.14.0
imageio==2.9.0
openpyxl==3.0.5
scipy==1.5.4